!!!
%html
  %body
    .overview-map
    .building-map

    %select.building
    %button.btn-building
      Higlight building
    %select.classroom
    %button.btn-classroom
      Highlight classroom

    %script{type: "module",
            src: "index.js"}
